﻿body {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 14px;
}

form {
	margin: auto;
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	border-style: solid;
	background-color: #FEFEFE;
	border-color: #FEFEFE;
	border-radius: 4px;
	border-width: 0px;
	color: #2d3134;
	padding: 30px 30px 30px 30px;
	width: 500px;
}

header > h1, p {
	margin: 0 0 20px 0;
}

label, input {
	font-size: inherit;
}

label {
	font-weight: bold;
	cursor: pointer;
	margin: 10px 0;
}

input {
	border-radius: 3px;
	padding: 10px;
}

	input:not([type=submit]) {
		border: 1px solid #ccc;
	}

label.is-required::after {
	content: '';
	position: absolute;
	background: #ff0000;
	margin: 4px;
	height: 4px;
	width: 4px;
	border-radius: 100%;
}

input[type=submit] {
	cursor: pointer;
	background-color: #f69029;
	border-color: #000000;
	border-radius: 4px;
	border-width: 0px;
	color: #FFFFFF;
	padding: 12px 18px 12px 18px;
}

	input[type=submit].loading {
		color: rgba(0,0,0,0) !important;
	}

#submit-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: fit-content;
	margin-top: 20px;
}

#loader-container {
	position: absolute;
	display: flex;
	width: 100%;
}

#confirmation-message {
	margin: auto;
}

#error-message,
#recaptcha-error-message,
#timeout-error-message,
#invalid-email-error-message {
	background-color: white;
	color: red;
	padding: 20px;
}

.g-recaptcha {
	margin-top: 20px;
}

.hidden {
	display: none;
}

.no-visibility {
	visibility: hidden;
}

.fragment-loader {
	width: 30px;
	height: 10px;
	margin: auto;
}

	.fragment-loader .fragment-square {
		opacity: 0;
		transform: translateZ(0);
		animation: loader 1.6s infinite both;
		will-change: opacity;
		fill: #a9b5c0;
	}

	.fragment-loader .left {
		transform: translate(0);
		animation-delay: 0;
	}

	.fragment-loader .middle {
		transform: translate(10px);
		animation-delay: .2s;
	}

	.fragment-loader .right {
		transform: translate(20px);
		animation-delay: .4s;
	}

@keyframes loader {
	0%, 80%, to {
		opacity: 0
	}

	40% {
		opacity: 1
	}
}
