﻿<link href="@Url.Content("~/css/SendGridStyle.css")" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
@*<script src="https://www.google.com/recaptcha/api.js?render=6LeOIOwUAAAAAOr9LFvbis7IUBtKQbLHvH-YTT4w"></script>*@
@*<script>
	grecaptcha.ready(function() {
		// do request for recaptcha token
		// response is promise with passed token
		grecaptcha.execute('6LeOIOwUAAAAAOr9LFvbis7IUBtKQbLHvH-YTT4w', {action:'validate_captcha'})
			.then(function(token) {
				// add token value to form
				document.getElementById('g-recaptcha-response').value = token;
			});
	});
</script>*@

<form >
	<p class="hidden" id="confirmation-message">Thanks for signing up!</p>
	<p class="hidden" id="error-message">
		Error submitting the request. Please refresh the page and try again.
	</p>
	<p class="hidden" id="recaptcha-error-message">
		Please complete the captcha before submitting.
	</p>
	<p class="hidden" id="timeout-error-message">
		Error submitting the request. Please try again later.
	</p>
	<p class="hidden" id="invalid-email-error-message">
		Invalid email address. Please correct the email address and try again.
	</p>
	<header>
		<h1>Subscribe to Developer Newsletter</h1>
		<p>Stay tuned so you don't miss each new feature, article, endpoint, and version-specific known issue. Subscribe to these feeds!</p>
	</header>


	<label for="first_name" class="">
		First Name
	</label>


	<input type="text" name="first_name" id="first_name" placeholder="Please enter your first name." style="">



	<label for="last_name" class="">
		Last Name
	</label>


	<input type="text" name="last_name" id="last_name" placeholder="Please enter your last name." style="">



	<label for="email" class="is-required">
		Email
	</label>


	<input type="text" name="email" id="email" title="Email Address" placeholder="Please enter your email address." style="">
	
	@*<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">*@


	<div id="submit-container">
		<input type="submit" id="submit" value="Submit" required="">
		<div id="loader-container">
			<svg class="fragment-loader hidden" id="loader">
				<rect class="fragment-square left" width="10" height="10"></rect>
				<rect class="fragment-square middle" width="10" height="10"></rect>
				<rect class="fragment-square right" width="10" height="10"></rect>
			</svg>
		</div>
	</div>

</form>

<script src="@Url.Content("~/js/SendGridJS.js")"></script>